server:
  port: 3501

eureka:
  instance:
    leaseRenewalIntervalInSeconds: 1
    leaseExpirationDurationInSeconds: 2
  client:
    fetchRegistry: true
    serviceUrl:
      defaultZone: http://${eureka.host:localhost}:${eureka.port:4006}/eureka/
    healthcheck:
      enabled: true
    lease:
      duration: 5
logging:
  level:
    com.lampart.apigateway: DEBUG
    org.springframework.web: DEBUG
    
# -- Configure for Ribbon:  
ping-server:
  ribbon:
    eureka:
      enabled: false # Disable Default Ping
    listOfServers: localhost:4002,localhost:4004,localhost:5002,localhost:5004
    ServerListRefreshInterval: 15000